@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600|Source+Code+Pro');

$font-stack: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6, p, a, .header, ol, li {
    font-family: $font-stack;
}

h2 {
  font-family: $font-stack;
  font-size: 1.6rem;
  font-weight: 300;
}

ol {
  font-size: 0.9rem;
}

input {
  font-size: 0.9rem;

  &[type="text"] {
    margin-bottom: 1.5rem;
    margin-left: 15px;
    border-right: none;
    width: calc(100% - 80px);
    padding-left: 1.5rem;
  }

  &:focus {
    outline:none;
  }
}

button {
  &:focus {
    outline:none;
  }

  &[type="submit"] {
    height: 49px;
    border-left: none;
  }


}

.faux-table__row {
  .faux-table__cell--shrink-height {
    .form {
      margin-bottom: 4rem;
      margin-left: 2rem;
    }
}
}


.panel {
      padding-top: 2rem;
      padding-left: 3rem;


&.panel--collapsible {
    padding-top: 1.5rem;

    h2 {
      a::before {
        content: "+";
        font-weight: 600;
        padding-right: 1rem;
        margin-left: -1rem;
        color: lightgrey;
      }

    }

    &:hover {
      background-color: #F6F6F6;
    }

    &.panel--active {
      &:hover {
        background-color: white;
      }
      h2 {
      a::before {
        content: "–";
        font-weight: 600;
        padding-right: 1rem;
        margin-left: -1rem;
        color: lightgrey;
      }
    }
    }

}

  p {
    font-size: 0.9rem;
    padding-top: 0;
    padding-bottom: 0.5rem;
  }
}

.scroll-pane {
  padding-top: 3rem;
  overflow: scroll;
  small {
    font-size: 0.9rem;
    color: grey;
    font-style: italic;
  }
}

.header {
  padding-left: 3rem;
}
