<html>
    <head>
      <title>Land Registry Property Advisor</title>
      <!-- Latest compiled and minified CSS -->
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

      <style type="text/css">
        body { padding-top: 70px; } -->

      <!-- </style> -->

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css"> -->

    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/updated-styles.min.css" />
    <script>

   function initMap() {
  var uluru = {lat: 51.463058, lng: -2.603428};
  var centers = {lat: 51.463558, lng: -2.603428};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 19,
    center: centers,
   mapTypeId: 'satellite'
  });
  var marker = new google.maps.Marker({
    position: uluru,
    map: map
  });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUOe352MNySX1iv47TAHrAviWVaDD6Atw&callback=initMap">
</script>
    </head>
    <body>
      <div id="root"></div>
      <script src="/static/bundle.js"></script>
    </body>
  </html>
